


/* Shapes */

body {
	
	background-color: #484747;
	font-family: Rubik, Arial, sans-serif	


}

.bg_square {
/* This is responsive!!!*/
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
	background-color: white;
	min-height: 900px;
	}


/* profile image size limit/float */

.size_limit {

	padding: 30px;
	max-width: 100%;
	height: auto;
	max-width: 400px;
	max-height: 600px;
	float: left;
}


	/*Dictates responsive aspects of the website, as well as the sites overall font styling.*/


/*Dictates the size and padding of the social media icons.*/

.social_icon {
	padding-right: 25pt;
	max-height: 50pt;
	max-width: 50t;
}



/* Headers/Paragraph stylings */

h1 {
	
	text-align: left;
	padding-left: 30pt;
	padding-right: 0pt;
}

h2 {
	text-align:left;
	padding-left:30pt;
}

p {
	text-align:left;
	padding-left:30pt;
	padding-right:50pt;
}

ul {
	
	padding-left:30pt;
}

/* places lists inside correctly */

.list_pos {
	list-style-position: inside;
}

/* Page elements */

header {
	padding: 25px;
}

section {
	padding: 25px;
}