


/* Shapes */

body {
	
	background-color: #484747;
	font-family: Rubik, Arial, sans-serif	


}

.bg_square {
/* This is responsive!!!*/
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
	background-color: white;
	height: 100%;
	}


/* profile image size limit/float */

.size_limit {

	padding-right: 30pt;
	max-width: 300pt;
	max-height: 500pt;
	float: left;
}


	/*Dictates responsive aspects of the website, as well as the sites overall font styling.*/


/*Dictates the size and padding of the social media icons.*/

.social_icon {
	padding-right: 25pt;
	max-height: 50pt;
	max-width: 50t;
}



/* Headers/Paragraph stylings */

h1 {
	color: var(--my-text-color);
	padding-left: 30pt;
	padding-right: 0pt;
}

h2 {
	color: var(--my-text-color);
	padding-left:360pt;
}

p {
	color: var(--my-text-color);
	padding-left:360pt;
	padding-right:50pt;
}

ul {
	color: var(--my-text-color);
	padding-left:360pt;
}

/* places lists inside correctly */

.list_pos {
	list-style-position: inside;
}

